<!-- Def page -->

<div class="container">
  <div class="row">
  </div>
  <script type="text/javascript">
  google.load('visualization', '1.1', {packages: ['motionchart']});
  function drawVisualization() {
    var queryText = encodeURIComponent("select team, season, defense_ast, defense_ffum, defense_int, defense_sk, defense_tkl, fumbles_lost, fumbles_rcv, fumbles_tot, fumbles_trcv, fumbles_yds from 1vmUJcm_ge6dDKpoLG_i43RvVHAf5kdeAHj4FkLt2 where pos in ('DE', 'CB', 'OLB', 'DT', 'FS', 'SS', 'ILB', 'LB', 'DB', 'MLB')");
    google.visualization.drawChart({
      "containerId": "visualization_div",
      "dataSourceUrl": 'https://www.google.com/fusiontables/gvizdata?tq=',
      "query":"select team, season, defense_ast, defense_ffum, defense_int, defense_sk, defense_tkl, fumbles_lost, fumbles_rcv, fumbles_tot, fumbles_trcv, fumbles_yds from 1vmUJcm_ge6dDKpoLG_i43RvVHAf5kdeAHj4FkLt2 where pos in ('DE', 'CB', 'OLB', 'DT', 'FS', 'SS', 'ILB', 'LB', 'DB', 'MLB')",
      "refreshInterval": 0,
      "chartType": "MotionChart",
      "options": {
        "width": 800,
        "height": 400,
        "showHeader": true  
      }
    });
  }

  //google.setOnLoadCallback(drawVisualization);
   $(function() {
    drawVisualization();
  });
</script>
</div>

<div id="visualization_div" style="width: 800px; height: 400px;"></div>