<!-- Kicer page -->

<div class="container">
  <div class="row">
  </div>
  <script type="text/javascript">
    google.load('visualization', '1.1', {packages: ['motionchart']});
    function drawVisualization() {
      var queryText = encodeURIComponent("select 'name', 'team', 'season',  'kicking_fga', 'kicking_fgm', 'kicking_fgyds', 'kicking_totpfg' from 1vmUJcm_ge6dDKpoLG_i43RvVHAf5kdeAHj4FkLt2 where pos = 'K' and kicking_fga >=0 limit 500");
      google.visualization.drawChart({
        "containerId": "visualization_div",
        "dataSourceUrl": 'https://www.google.com/fusiontables/gvizdata?tq=',
        "query":"select name, season, team, kicking_fga, kicking_fgm, kicking_fgyds, kicking_totpfg from 1vmUJcm_ge6dDKpoLG_i43RvVHAf5kdeAHj4FkLt2 where pos = 'K' and kicking_fga >=0 limit 500",
        "refreshInterval": 0,
        "chartType": "MotionChart",
        "options": {
          "width": 800,
          "height": 400,
          "showHeader": true  
        }
      });
    }

  //redraw chart on page load
  //google.setOnLoadCallback(drawVisualization);
  $(function() {
    drawVisualization();
  });
</script>
</div>

<div id="visualization_div" style="width: 800px; height: 400px;"></div>


