<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Welcome to fast fantasy football</h1>
      <h4>The fastest way to find critical player performance metrics.</h4> 
      <br/>
      <p><strong>fast fantasy football</strong> can help you evaluate all types of useful player information.</p>
      <p>For example, you can:</p>
      <ul>
        <li>Evaluate quarterback efficiency in attempts to completions.</li>
        <li>Understand if a your favorite running fumbles often.</li>
        <li>Figure out which wide receiver will be best in your ppr.</li>
        <li>Make the most of your kicker selection, because you really don't want more than one.</li>
        <li>And lots more!</li>
      </ul>
      <p>Please select a player position to the right to start your analysis.</p>      
    </div>
  </div>
</div>