# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ffeaa1529cb427289097ede2c161018a369159224bb2ef3724e7cdbde74a0476e456d348ec4793091437afa0c8d634c2873844269a4af036c6df6ce25bb177ea

test:
  secret_key_base: 8124c9e7f47e3a7d37aac0f09c1af329b9716ebb1c4f4b641817b0b37eb51afb8d6fbf9c58963e5a6788aef447a804de99be1fbb61e36ceaf476d7c8cfed218f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
