<!-- About page -->

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>About</h1>
      <h5>Use fast fantasy football to find critical player statistics fast.</h5>
      <br/>
      <div class="panel panel-default">
        <div class="panel-body">
          <p><em>fast fantasy football</em> is a final project built by <a href="www.brianpurcellinfo.com" target="blank_">Brian Purcell</a> while attending the web development immersion program at  <a hrerf="generalassemb.ly" target="blank_">General Assembly</a>.</p>
        </div>
      </div>
      <h1>Data</h1>
      <p>Data for this application is provided by the <a href="https://github.com/BurntSushi/nflgame>nflgame API" target="blank_">nglgame</a> API.</p>
      <p>Attribute meta data can be found <a href="https://github.com/BurntSushi/nflgame/wiki/Stat-types" target="blank_">here</a>.</p>
      <h1>Contact</h1>
      <p>Please contact me if with any questions or concerns:</p>
      <p></p><a mailto="brian.purcell7@gmai.com">Email Me!</a></p>
      <p><a href="https://twitter.com/BrianPurcell_">Let's tweet!</a></p>
      <p><a href="https://github.com/teachMeCode" target="blamk_">Check out my code!</a></p>
    </div>  
  </div> <!-- end of row -->
</div> <!-- end of container -->