<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>About</h1>
      <h5>Use fast fantasy football to find critical player statistics fast.</h5>
      <br/>
      <div class="panel panel-default">
        <div class="panel-body">
          <p><em>fast fantasy football</em> is a final project built by <a href="www.brianpurcellinfo.com" target="blank_">Brian Purcell</a> while attending the web development immersion program at  <a hrerf="generalassemb.ly" target="blank_">General Assembly</a>.</p>
          <p>This application is was designed with the needs of fantasy football players in mind. </p>
        </div>
      </div>
    
    </div>  
  </div> <!-- end of row -->
</div> <!-- end of container -->