/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';


/* Sticky footer style*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 80px;
  margin-bottom: 60px;


  // font-family: 'Roboto', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #dcdcdc;
  border-top: solid 1px #dcdcdc;
}

 .navbar-img {
    background-image: url('/assets/grass2.jpg') ;
    background-repeat: repeat-x; 
    // background-size: cover;
 }

#navbar-style {
  color:white;
 }

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
}
