    <div class="navbar-img navbar navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" href="#">fast fantasy football</a> -->
          <h2 style="color:white;">fast fantasy football<small style="color:#DDEBF2;"> find critical player metrics fast</small></h2>
        </div>
        <div class="navbar-collapse collapse">
     <!--      <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </div>  


