<div class="navbar-img navbar navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
    <!-- <a class="navbar-brand" href="#">fast fantasy football</a> -->
     <h2 style="color:white;">fast fantasy football<small style="color:#DDEBF2;"> find critical player metrics fast</small></h2>
    </div>
    <div class="navbar-collapse collapse">
    </div>
  </div>
</div>  


