
<div class="container">
  <div class="row">
  </div>
  <script type="text/javascript">
  google.load('visualization', '1.1', {packages: ['motionchart']});
  function drawVisualization() {
    var queryText = encodeURIComponent("select 'name', 'season', 'team', 'pos', 'receiving_rec', 'receiving_tds', 'receiving_yds', 'fumbles_lost', 'fumbles_tot' from 1vmUJcm_ge6dDKpoLG_i43RvVHAf5kdeAHj4FkLt2 where pos = 'TE'  AND receiving_yds >= 0 limit 500");
    google.visualization.drawChart({
      "containerId": "visualization_div",
      "dataSourceUrl": 'https://www.google.com/fusiontables/gvizdata?tq=',
      "query":"select 'name', 'season', 'team', 'pos', 'receiving_rec', 'receiving_tds', 'receiving_yds', 'fumbles_lost', 'fumbles_tot' from 1vmUJcm_ge6dDKpoLG_i43RvVHAf5kdeAHj4FkLt2 where pos = 'TE'  AND receiving_yds >= 0 limit 500",
      "refreshInterval": 0,
      "chartType": "MotionChart",
      "options": {
        "width": 800,
        "height": 400,
        "showHeader": true  
      }
    });
  }

  //google.setOnLoadCallback(drawVisualization);
   $(function() {
    drawVisualization();
  });
</script>
</div>

<div id="visualization_div" style="width: 800px; height: 400px;"></div>